*{
    overflow: hidden;

}
html{
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    margin:0;

}
table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin:10px;
}
thead{
    background-color: aquamarine;
}
thead tr th{
    font-size: 20px;
}
tbody tr{
    background-color: rgb(243, 243, 243);
}